[Unit]
Description=Core DHCP
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/coredhcp -c /etc/coredhcp/config.yaml

[Install]
WantedBy=multi-user.target
